# Jetbrains tools ######################################################################################################

.idea

# Volumes ##############################################################################################################

minecraft-data